{% extends 'AppFrontBundle:Layout:Layout.html.twig' %}


{% block content %}

    {# Page d'acueil#}
    <div class="row " id="frontfullpage">
        <div class="center_text white " id="center_on_slide_first">
            <h1 >Dégustation <br>à domicile</h1>
        </div>
    </div>



    {# Slide future dégustations#}
    <div class="row paddingTopBottom" >
        <div class="col-sm-offset-1 col-sm-10">
            <div class="row">
                {% if degustations is not null %}
                {%  for degustation in degustations %}
                <div class="col-sm-4">
                    {% include 'AppFrontBundle:Layout:vignetteAccueil.html.twig' with {
                    'degustation' : degustation,
                    'urlpicture': 'http://avis-vin.lefigaro.fr/var/img/56/13757-650x330-degust.jpg'
                    } %}

                    {% for guest in get_guest_list(degustation)  %}
                        {{ guest.username }}
                    {%  endfor %}
                </div>


                {%  endfor %}
                {%  endif %}
                {#
                <div class="col-sm-4">
                    {% include 'AppFrontBundle:Layout:vignetteAccueil.html.twig' with {
                    'title': 'Lundi 18 Mars' ,
                    'texte': 'Arthur vous invite à découvrir une séléction de Pessac' ,
                    'button': 'Réservez vos places !',
                    'id':2,
                    'urlpicture': 'http://avis-vin.lefigaro.fr/var/img/56/13757-650x330-degust.jpg'} %}
                </div>
                <div class="col-sm-4">
                    {% include 'AppFrontBundle:Layout:vignetteAccueil.html.twig' with {
                    'title': 'Mercredi 26 Mars' ,
                    'texte': 'Jean-Patrick le Shlag nous vous invite à découvrir une séléction de vin de table qui piquent la gorge' ,
                    'button': 'Réservez vos places !',
                    'id':3,
                    'urlpicture': 'http://avis-vin.lefigaro.fr/var/img/56/13757-650x330-degust.jpg'} %}
                </div>
                #}
            </div>
        </div>
    </div>

    {# Slide fullpage 2#}
    <div class="row " id="fullpage2">
        <div class="center_text white " id="center_on_slide_2">
            <h1 >Mode d'emploi</h1>
        </div>
    </div>

    {# Slide fullpage 3#}
    <div class="row " id="fullpage3">
        <div class="center_text white center_on_slide" >
            <h1 >La carte des dégustations</h1>
        </div>
    </div>

    {# Slide fullpage 4#}
    <div class="row " id="fullpage4">
        <div class="center_text white center_on_slide" >
            <h1 >Contact</h1>
        </div>
    </div>

{% endblock %}


{% block css %}
    {{ parent() }}
    <style>
        #frontfullpage{
            height:100vh;
            background:url('{{ asset('public/image/fond/glass_wine_red_pouring_a_bottle_black_background_wallpaper.jpg') }}');
            background-size: cover;
            background-attachment: fixed;

        }

        #fullpage2{
            height:100vh;
            background:url('{{ asset('public/image/fond/cave1.jpg') }}');
            background-size: cover;
            background-attachment: fixed;

        }

        #fullpage3{
            height:100vh;
            background:url('{{ asset('public/image/fond/wine-tasting.jpg') }}');
            background-size: cover;
            background-attachment: fixed;

        }

        #fullpage4{
            height:100vh;
            background:url('{{ asset('public/image/fond/les-caves-fond5.jpg') }}');
            background-size: cover;
            background-attachment: fixed;

        }

    </style>

{% endblock %}