<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Vinologies{% endblock %}</title>

    {% block css %}
        {% stylesheets %}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {% endstylesheets %}
        <link rel="stylesheet" href="{{ asset('public/mdl/material.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/bootstrapMaison/css/bootstrap.min.css') }}" />
        {#//TODO enlever en prod,compilation auto du less #}
        <link rel="stylesheet/less" type="text/css" href="{{ asset('public/style/main.less') }}" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    {% endblock %}

    {% block js %}
        {% javascripts %}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/mdl/material.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/bootstrapMaison/js/bootstrap.min.js') }}"></script>
    {% endblock %}

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<header>
    {% block Menu %}
    <div class="header">
        <div class="mdl-layout__header-row">
            <!-- Title -->


            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer" ></div>
            <!-- Navigation -->
            <nav class="mdl-navigation" >
                <a class="mdl-navigation__link" href="{{ path('app_front_homepage') }}"><h4>Accueil</h4></a>
                <a class="mdl-navigation__link " href=""><h4>Carte des dégustations</h4></a>
                <a class="mdl-navigation__link " href=""><h4>Evénements</h4></a>
                <a class="mdl-navigation__link " href=""><h4>Le concept</h4></a>
                <a class="mdl-navigation__link " href="{{ path('signup') }}"><h4>S'inscrire</h4></a>
                <a class="mdl-navigation__link " href="{{ path('app_front_my_account_dashboard') }}"><h4>Mon Compte</h4></a>
            </nav>
            <span style="width:7vw;"></span>
        </div>
    </div>

        <div class="subheader"></div>
    {% endblock %}
</header>
<body >



{% block content %}

{% endblock %}

</body>
</html>
