<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Vinologies{% endblock %}</title>

    {% block css %}
        {% stylesheets %}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {% endstylesheets %}
        <link rel="stylesheet" href="{{ asset('public/mdl/material.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/bootstrapMaison/css/bootstrap.min.css') }}" />
        {#//TODO enlever en prod,compilation auto du less #}
        <link rel="stylesheet/less" type="text/css" href="{{ asset('public/style/main.less') }}" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    {% endblock %}

    {% block js %}
        {% javascripts %}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/mdl/material.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/bootstrapMaison/js/bootstrap.min.js') }}"></script>
    {% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<header>
    {% block Menu %}
    <div class="header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span style="width:20vw;"></span>
            <span class="mdl-layout-title">Accueil</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer" ></div>
            <!-- Navigation -->
            <nav class="mdl-navigation" >
                <a class="mdl-navigation__link" href="">Carte des dégustations</a>
                <a class="mdl-navigation__link" href="">Evénements</a>
                <a class="mdl-navigation__link" href="">Eat and Drink</a>
                <a class="mdl-navigation__link" href="">Le concept</a>
                <a class="mdl-navigation__link" href="">Contact</a>
            </nav>
        </div>
    </div>
    {% endblock %}
</header>
<body>



{% block content %}

{% endblock %}

</body>
</html>
